Importing libraries

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

Reading the dataset

In [3]:
data = pd.read_csv('/content/salary.csv')

Checking the dataset

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
data.shape

(26647, 15)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26647 entries, 0 to 26646
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             26647 non-null  int64
 1   workclass       26647 non-null  object
 2   fnlwgt          26647 non-null  int64
 3   education       26647 non-null  object
 4   education-num   26647 non-null  int64
 5   marital-status  26647 non-null  object
 6   occupation      26647 non-null  object
 7   relationship    26647 non-null  object
 8   race            26647 non-null  object
 9   sex             26647 non-null  object
 10  capital-gain    26647 non-null  int64
 11  capital-loss    26647 non-null  int64
 12  hours-per-week  26647 non-null  int64
 13  native-country  26647 non-null  object
 14  salary          26647 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.0+ MB

In [8]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,26647.000000,2.664700e+04,26647.000000,26647.000000,26647.000000,26647.000000
mean,38.621158,1.897731e+05,10.085788,1093.709273,86.455323,40.406913
std,13.674342,1.051503e+05,2.564311,7506.045984,401.105591,12.302519
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.180010e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.784290e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.369390e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [9]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

There are no null values present in the dataset.

Label Encoding

In [4]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [5]:
data['workclass']=labelencoder.fit_transform(data['workclass'])
data['education']=labelencoder.fit_transform(data['education'])
data['marital-status']=labelencoder.fit_transform(data['marital-status'])
data['occupation']=labelencoder.fit_transform(data['occupation'])
data['relationship']=labelencoder.fit_transform(data['relationship'])
data['race']=labelencoder.fit_transform(data['race'])
data['sex']=labelencoder.fit_transform(data['sex'])
data['native-country']=labelencoder.fit_transform(data['native-country'])
data['salary']=labelencoder.fit_transform(data['salary'])

In [12]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0

Spliting the data into test and train

In [6]:
X = data.drop('salary',axis=1)
y = data.salary

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state = 42)

Decision Tree

In [11]:
from sklearn.tree import DecisionTreeClassifier
Dclf=DecisionTreeClassifier()
Dclf.fit(X_train,y_train)

DecisionTreeClassifier()

In [12]:
y_pred = Dclf.predict(X_test)

In [13]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.87      0.88      4942
           1       0.61      0.64      0.62      1571

    accuracy                           0.81      6513
   macro avg       0.74      0.75      0.75      6513
weighted avg       0.82      0.81      0.81      6513

Bagging- Decision tree

In [14]:
from sklearn.ensemble import BaggingClassifier
Dtree = DecisionTreeClassifier()
bagging_clf = BaggingClassifier(base_estimator=Dtree, n_estimators=100, random_state=42)
bagging_clf.fit(X_train, y_train)
y_pred = bagging_clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.93      0.91      4942
           1       0.74      0.63      0.68      1571

    accuracy                           0.86      6513
   macro avg       0.81      0.78      0.79      6513
weighted avg       0.85      0.86      0.85      6513

Random Forest

In [15]:
from sklearn.ensemble import RandomForestClassifier
RFclf = RandomForestClassifier(n_estimators = 100) 
RFclf.fit(X_train, y_train)
y_pred = RFclf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.93      0.91      4942
           1       0.75      0.64      0.69      1571

    accuracy                           0.86      6513
   macro avg       0.82      0.79      0.80      6513
weighted avg       0.86      0.86      0.86      6513

Bagging- Random Forest

In [16]:
bagging_clf = BaggingClassifier(base_estimator=RFclf, n_estimators=100, random_state=42)
bagging_clf.fit(X_train, y_train)
y_pred = bagging_clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.94      0.91      4942
           1       0.77      0.64      0.70      1571

    accuracy                           0.87      6513
   macro avg       0.83      0.79      0.81      6513
weighted avg       0.86      0.87      0.86      6513

Bagging-SVC

In [17]:
from sklearn.svm import SVC
bagging_clf = BaggingClassifier(base_estimator=SVC(), n_estimators=100, random_state=42)
bagging_clf.fit(X_train, y_train)
y_pred = bagging_clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      1.00      0.88      4942
           1       0.98      0.16      0.27      1571

    accuracy                           0.80      6513
   macro avg       0.89      0.58      0.58      6513
weighted avg       0.84      0.80      0.73      6513

Boosting Classifier

In [19]:
from sklearn.ensemble import AdaBoostClassifier

ada_boost_clf = AdaBoostClassifier(n_estimators=100)
ada_boost_clf.fit(X_train, y_train)
y_pred = ada_boost_clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.95      0.92      4942
           1       0.79      0.63      0.70      1571

    accuracy                           0.87      6513
   macro avg       0.84      0.79      0.81      6513
weighted avg       0.86      0.87      0.86      6513